body {
    margin: 0;
    padding: 0;
}

#map {
    height: 900px;
    width: 100%;
    z-index: 0;
}

#modalAddMarker{
    z-index: 1;
}

.deleteMarker{
    font-size: 10px;
    width: 100%;
}